/* 폰트 설정 */
@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  html > body {
    
    font-family: "GmarketSansMedium";
    text-underline-position: under;
  }
  
  /* 노말라이즈 */
  
  /* 라이브러리 */
  
  /* 커스텀 */
  
  input:focus{
    border-color:black;
  }
  
  [type="checkbox"] {
    appearance:none;
    width:18px;
    height:18px;
    box-sizing:border-box;
    border:2px solid #afafaf;
    border-radius:3px;
    outline:0;
  }
  
  [type="checkbox"]:focus {
    border-color:rgb(230,120,0);
  }
  
  [type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    background-color:rgb(230,120,0);
    border-color:rgb(230,120,0);
  }
  
  input[type="email"] ~ ul {
    display:none;
  }
  input[type="email"].started:invalid ~ .invalid {
    display:block;
  }
  input[type="email"].started:valid ~ .valid {
    display:block;
  }
  
  
  input[name="password"] ~ ul {
    display:none;
  }
  
  input[name="password"].started:placeholder-shown ~ ul {
    display:block;
  }
  
  input[type="tel"] ~ ul{
      display:none;
  }
  
  input[type="tel"].started:invalid ~ .invalid {
    display:block;
  }